.login{
    background-color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #14274E;
}

.login-logo{
    width: 100px;
    object-fit: contain;
}

.login-container{
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid lightgray;
}

.login-container > h1{
    font-weight: 500;
    margin-bottom: 20px;
}

.login-container > form > h5{
    margin-bottom: 5px;
}

.login-container > form > input{
    height: 30px;
    margin-bottom: 10px;
    background-color: #fff;
    width: 98%;
}

.login-container > form > .login-botaoEntrar {
    background-color: #007cc3;
    color: #fff;
    width: 100%;
    border: 1px solid;
    margin-top: 10px;
    height: 30px;
    border-radius: 2px;
    border-color: #150050;
}

.link-registro > .login-botaoCadastro{
    background-color: #007cc3;
    color: #fff;
    width: 100%;
    border: 1px solid;
    margin-top: 10px;
    height: 30px;
    border-radius: 2px;
    border-color: #150050;
}

.login-container > form >  .login-botaoEntrar:hover{
    cursor: pointer;
    color: #14274E;
}

.link-registro > .login-botaoCadastro:hover{
    cursor: pointer;
    color: #14274E;
}